.wrapper {
    position: relative;
    margin-top: 8px;

    cursor: pointer;
    &:hover .flag,
    &:hover .play,
    &:hover .pause,
    &:hover .sound,
    &:hover .controls {
        opacity: 1;
        transition: opacity 0.3s linear 0s;
        transition: 0.2s;
    }
}
.container {
    position: relative;
    margin-right: 20px;
    width: fit-content;
    overflow: hidden;
}
.wrap-video {
    display: block;
    height: auto;
    border-radius: 6px;
    max-width: 450px;
    object-fit: cover;
}
.video {
    object-fit: cover;
    border-radius: 6px;
    width: 100%;
    max-height: 475px;
}
.flag {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
    transition: opacity 0.3s ease 0s;
    opacity: 0;

    svg {
        font-size: 14px;
        margin-right: 4px;
        background-color: transparent;
    }
}

.play,
.pause {
    position: absolute;
    bottom: 60px;
    left: 30px;
    color: var(--white);
    z-index: 10;
    opacity: 0;
}

.sound {
    position: absolute;
    display: flex;
    bottom: 60px;
    right: 30px;
    color: var(--white);
    z-index: 10;
    opacity: 0;
}
.mute {
    opacity: 1;
}
.wrap-volume {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 112px;
    right: 6px;
    width: 78px;
    padding: 10px;
    border-radius: 20px;
    height: 18px;
    background-color: rgb(78, 68, 68);
    transform: rotate(-90deg);
    cursor: pointer;

    opacity: 0;

    &:hover {
        opacity: 1;
        transition: opacity 0.3s linear 0s;
    }
}
.sound:hover + .wrap-volume {
    opacity: 1;
    transition: opacity 0.3s linear 0s;
}

.slider-volume {
    appearance: none;
    width: 50px;
    height: 4px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}

.slider-volume::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(28, 22, 22);
}

.controls {
    position: absolute;
    left: 0;
    bottom: 20px;
    display: flex;
    height: 24px;
    align-items: center;
    width: 100%;
    padding-inline: 12px;
    opacity: 0;
    transition: 0.2s;

    &:hover .process {
        opacity: 1;
    }

    &:hover .seek-slider,
    &:hover .seek-slider,
    &:hover .progress {
        height: 6px;
    }
}

.seek-slider {
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    flex: 1 1 auto;
    background-color: rgba(255, 228, 196);
}

.progress {
    position: absolute;
    color: #00fffff9;
    text-align: center;
    height: 3px;
    width: 3px;
    background-color: #00e3e3;
    border-radius: 3px;
    font-size: 4px;
}

.process {
    position: absolute;
    top: -4px;
    right: -2px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    transition: linear 4s ease 0s;
    background-color: rgba(11, 155, 165);
    opacity: 0;
}

.seek-timer {
    max-width: 64px;
    margin-inline-start: 8px;
    font-size: 12px;
    color: var(--white);
    text-align: end;
    white-space: nowrap;
}
