.wrapper {
  position: relative;
  max-width: 624px;
  width: 300px;
  cursor: pointer;
}

.video {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.flag {
  position: absolute;
  display: inline-block;
  top: 30px;
  right: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  transition: opacity 0.3s ease 0s;

  svg {
    font-size: 14px;
    margin-right: 4px;
    background-color: transparent;
  }
}

.play,
.pause {
  position: absolute;
  bottom: 60px;
  left: 30px;
  color: var(--white);
}

.pause {
}

.sound-on,
.sound-mute {
  position: absolute;
  bottom: 60px;
  right: 30px;
  color: var(--white);
}

.wrap-slider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 120px;
  right: 10px;
  width: 70px;
  border-radius: 20px;
  height: 24px;
  background-color: rgb(78, 68, 68);
  transform: rotate(-90deg);
}

.slider-volume {
  appearance: none;
  width: 50px;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
}

.slider-volume::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
}
