.wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 255, 255, 0.128);
  width: 692px;
  max-width: 692px;
  margin-right: 16px;
  margin-left: 16px;
  padding: 24px 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 24px 0;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    background: rgba(22, 24, 35, 0.2);
  }
}

.wrap-avatar {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;

  &:hover ~ .content h3 {
    text-decoration: underline;
  }
}

.avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.check {
  margin-left: 4px;
  color: rgb(32, 213, 236);
  font-size: 1.4rem;
}

.content {
  margin-left: 12px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.btn-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  min-width: 88px;
  margin: 8px 4px 0 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.video-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.nickname {
  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    margin-right: 6px;
  }
  a:hover h3 {
    text-decoration: underline;
  }

  h4 {
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    line-height: 28px;
  }
}

.name-song {
  display: block;
  font-weight: 500;

  a:hover strong {
    text-decoration: underline;
  }
}

.sound {
  margin-right: 4px;
  font-size: 14px;
}
