.wrapper {
  border-top: 1px solid #e3e3e4;
}
.label {
  font-size: 1.4rem;
  padding: 8px;
  font-weight: 600;
}

///////Account -item
.account-item {
  display: flex;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.item-info {
  flex: 1;
  margin-left: 12px;
}

.nickname {
  line-height: 1;
  font-size: 1.6rem;
  color: rgb(22, 24, 35);
}

.check {
  margin-left: 4px;
  color: rgb(32, 213, 236);
  font-size: 1.4rem;
}

.name {
  font-size: 1.2rem;
  color: rgba(22, 24, 35, 0.75);
}

.more-btn {
  display: inline-block;
  padding: 8px;
  font-size: 1.4rem;
  color: rgb(254, 44, 85);
  font-weight: 600;
  line-height: 2rem;
  cursor: pointer;
}

//sub account items
