.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    strong {
        font-size: 12px;
        line-height: 17px;
        margin-left: 14px;
    }
}

.btn-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    margin-top: 8px;
    margin-left: 14px;
    border-radius: 50%;
    transition: all ease-in-out 200ms;
    background-color: rgba(22, 24, 35, 0.06);
    cursor: pointer;
}

.icons {
    width: 48px;
}
////render tippy
.wrap-items {
    border-radius: 6px;
    background-color: #fff;
}
